In [1]:
#Import Packages
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import datetime
from copy import deepcopy

#Define headers for scraping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

In [2]:
page = "https://www.transfermarkt.com/premier-league/spieltagtabelle/wettbewerb/IR1/saison_id/2022/spieltag/1"
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [3]:
seasons = pageSoup.find("div", class_ = "inline-select").text.strip().split("\n")

In [4]:
md_str = pageSoup.find("select", {"name":"spieltag"}).text.strip().split('\n')

matchdays = []

for i in range(len(md_str)):
    matchdays.append(''.join(ch for ch in md_str[i] if ch.isdigit()))

In [5]:
#Look for all of the tables on the page
print('Classes of each table:')
for table in pageSoup.find_all('table'):
    print(table.get('class'))

Classes of each table:
['auflistung']
None
['items']

In [6]:
# Creating list with all tables
tables = pageSoup.find_all('table')

#Extract the one table we want
table = pageSoup.find('table', class_='items')

#Extract our desired column headers
rows = table.find("tr").find_all("th")

cols = []

for row in rows:
    if row.text.strip() != '':
        cols.append(row.text.strip())
    
    else:
        cols.append('Matches')
        
table_rows = list(table.find("tbody").find_all("tr"))
data = []

for i in range(len(table_rows)):
    dummy_list = []
    
    for table_row in table_rows:
        dummy_list.append(table_row.find_all("td")[i].text.strip())
    
    data.append(dummy_list)

data.pop(1)

['', '', '', '', '', '', '', '', '', '']

In [7]:
df = pd.DataFrame(data).transpose()
df.columns=cols
df

    #             Club Matches  W  D  L Goals +/- Pts
0   1        Bohemians       1  1  0  0   2:1   1   3
1   2       Derry City       1  0  1  0   1:1   0   1
2   2        St. Pat's       1  0  1  0   1:1   0   1
3   2  Shamrock Rovers       1  0  1  0   1:1   0   1
4   2       Dundalk FC       1  0  1  0   1:1   0   1
5   2              UCD       1  0  1  0   1:1   0   1
6   2     Sligo Rovers       1  0  1  0   1:1   0   1
7   8       Shelbourne       1  0  1  0   0:0   0   1
8   8  Drogheda United       1  0  1  0   0:0   0   1
9  10        Cork City       1  0  0  1   1:2  -1   0